.menu-lateral {
  position: absolute;
  width: 270px;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 100px;
  left: -60px;
  transition: left 0.3s ease-in-out;
  z-index: 100;
}

.menu-lateral.open {
  left: -240px;
}

.side-menu {
  width: 60px;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  top: 20;
  left: -60px;
  transition: left 0.3s ease-in-out;
}

.side-menu.open {
  left: 0;
}

.tab {
  width: 290px;
  height: 60px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.tab-icon {
  color: white;
  font-size: 24px;
  padding-right: 20px;
}

.menu-options {
  list-style: none;
  padding: 0;
  margin: 20px 0px 20px 100px;
  text-align: left;
}

.menu-options li {
  margin: 25px 0px;
  color: white;
  cursor: pointer;
}